<div class="page">
  <h1 style="text-align: center; margin-bottom: 2rem;">Evaluación Tercer Parcial</h1>
  <h2 style="text-align: center; margin-bottom: 2rem;">Desarrollo Web Profesional</h2>
  <div class="row" style="align-items: start;">
    <div class="column">
      <h3>Integrantes:</h3>
      <p>Diosdado Rodríguez Miguel Ángel</p>
      <p>Hernández Ávila Fernanda Montserrat</p>
      <p>Pinzón Huerta Erick</p>
    </div>
    <div class="column">
      <h3>Descripción:</h3>
      <p>Aplicación Web de venta de coches con CRUD de clientes y coches hecha con Angular.</p>
    </div>
  </div>
</div>
