<!-- Actualizar transacciones -->
<div class="page">
    <div class="row reverse">
        <div class="input-column">
            <h2>Actualizar transaccion</h2>
            <div class="input-row">
                <label>
                    Método de pago
                    <select [(ngModel)]="currentTransaccion.metodoPago">
                        <option value="efectivo">Efectivo</option>
                        <option value="credito">Credito</option>
                        <option value="debito">Debito</option>
                    </select>
                </label>
            </div>
            <div>
                <button (click)="updateTransaccion()" class="btn upd">Actualizar</button>
            </div>
        </div>

        <div class="table-column">
            <h2>Transacciones</h2>
            <table class="table" *ngIf="!isLoading">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Precio</th>
                        <th>Metodo de Pago</th>
                        <th>Coche</th>
                        <th>Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaccion of transacciones" data-id="{{ transaccion.id }}">
                        <td>{{ transaccion.fecha }}</td>
                        <td>{{ transaccion.precio }}</td>
                        <td>{{ transaccion.metodoPago }}</td>
                        <td>{{ transaccion.coche }}</td>
                        <td>{{ transaccion.cliente }}</td>
                        <td>
                            <button class="btn btn-primary" (click)="setCurrentTransaccion(transaccion)">Seleccionar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-loader *ngIf="isLoading"></app-loader>
        </div>
    </div>
</div>

<!-- Mostrar las transacciones -->