<!-- Nuevos Coches -->
<div class="page">
  <div class="row">
    <div class="input-column">
      <div class="container-title">
        <h2 *ngIf="state === MODES.create">Añadir coche</h2>
        <h2 *ngIf="state === MODES.select">Modificar coche</h2>
        <h2 *ngIf="state === MODES.sell">Vender coche</h2>
      </div>
      <div class="container" *ngIf="state !== MODES.sell">
        <div class="input-row">
          <label>
            Marca
            <input type="text" [(ngModel)]="currentCoche.marca" (input)="validateMarca()" [ngClass]="{ 'invalid': !isMarcaValid }"/>
          </label>
        </div>
        <div class="input-row">
          <label>
            Modelo
            <input type="text" [(ngModel)]="currentCoche.modelo" (input)="validateModelo()" [ngClass]="{ 'invalid': !isModeloValid }"/>
          </label>
        </div>
        <div class="input-row">
          <label>
            Kilometros
            <input type="number" [(ngModel)]="currentCoche.kilometros" (input)="validateKilometros()" [ngClass]="{ 'invalid': !isKilometrosValid }"/>
          </label>
        </div>
        <div class="input-row">
          <label>
            Transmision
            <select [(ngModel)]="currentCoche.transmision" (input)="validateTransmision()" [ngClass]="{ 'invalid': !isTransmisionValid }">
              <option value="manual">Manual</option>
              <option value="automatica">Automatica</option>
            </select>
          </label>
        </div>
        <div class="input-row">
          <label>
            Precio
            <input type="number" [(ngModel)]="currentCoche.precio" (input)="validatePrecio()" [ngClass]="{ 'invalid': !isPrecioValid }"/>
          </label>
        </div>
      </div>

      <div class="container" *ngIf="state === MODES.sell">
        <div class="input-row">
          <label>
            Nuevo propietario
            <select [(ngModel)]="venta.clienteId" (input)="validateCliente()" [ngClass]="{ 'invalid': !isClienteValid }">
              <option *ngFor="let cliente of clientes" [ngValue]="cliente.id" >{{ cliente.nombre + ' ' + cliente.apellidos }}</option>
            </select>
          </label>
        </div>
        <div class="input-row">
          <label>
            Método de pago
            <select [(ngModel)]="venta.metodoPago" (input)="validateMetodoPago()" [ngClass]="{ 'invalid': !isMetodoPagoValid }">
              <option value="efectivo">Efectivo</option>
              <option value="credito">Crédito</option>
              <option value="debito">Débito</option>
            </select>
          </label>
        </div>
      </div>

      <div class="container botones">
        <div *ngIf="state === MODES.create">
          <button (click)="createCoche()" class="btn add" [ngClass]="{ 'disabled': !isCurrentCocheValid }">Añadir</button>
        </div>
        <div *ngIf="state === MODES.select">
          <button (click)="updateCoche()" class="btn mod" [ngClass]="{ 'disabled': !isCurrentCocheValid }">Modificar</button>
        </div>
        <div *ngIf="state === MODES.select">
          <button (click)="deleteCoche()" class="btn del">Eliminar</button>
        </div>
        <div *ngIf="state === MODES.select && !currentCoche.vendido">
          <button (click)="setSellMode()" class="btn sell">Vender</button>
        </div>
        <div *ngIf="state === MODES.select">
          <button (click)="resetCurrentCoche()" class="btn add">
            Añadir nuevo
          </button>
        </div>
      </div>
      
      <div class="container botones" *ngIf="state === MODES.sell">
        <div>
          <button (click)="sellCoche()" class="btn sell">Vender</button>
        </div>
        <div>
          <button (click)="resetCurrentCoche()" class="btn add">
            Añadir nuevo
          </button>
        </div>
      </div>
    </div>
    <!-- Mostrar los coches -->
    <div class="table-column">
      <h2>Coches</h2>
      <table class="table" *ngIf="!isLoading">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Kilometros</th>
            <th>Transmision</th>
            <th>Precio</th>
            <th>Vendido</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coche of coches" data-id="{{ coche.id }}">
            <td>{{ coche.marca }}</td>
            <td>{{ coche.modelo }}</td>
            <td>{{ coche.kilometros }} KM</td>
            <td>{{ coche.transmision }}</td>
            <td>$ {{ coche.precio }}</td>
            <td>{{ coche.vendido ? 'vendido' : '' }}</td>
            <td>
              <button class="btn btn-primary" (click)="setCurrentCoche(coche)">
                Seleccionar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <app-loader *ngIf="isLoading"></app-loader>
    </div>
  </div>
</div>
